{% style %}
#announce_{{ section.id }}{
  padding-top: {{ section.settings.padding_top | append:'px'}};
  padding-bottom: {{ section.settings.padding_bottom | append:'px'}};
}
{% endstyle %}
<div class="announcement-bar" id="announce_{{ section.id }}">
  <div class="announcement-bar-inner">
    {% for block in section.blocks %}
      <a href="{{ block.settings.link | default:'#' }}">{{ block.settings.text }}</a>
    {% endfor %}
  </div>
</div>

{% schema %}
    {
      "name": "Announcement-bar",
      "max_blocks": 12,
      "class": "announcement-bar-section",
      "enabled_on": {
        "groups": ["header"]
      },
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 10
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 10
        }
      ],
      "blocks": [
        {
          "type": "announcement",
          "name": "Announcement-bar",
          "settings": [
            {
              "type": "text",
              "id": "text",
              "default": "Speacial offer > get an extra 15% off + free delivery",
              "label": "Text"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Announcement-bar",
          "blocks": [
            {
              "type": "announcement"
            }
          ]
        }
      ]
    }
{% endschema %}
    