{% style %}
#category_{{ section.id }}{
  padding-top: {{ section.settings.padding_top | append:'px'}};
  padding-bottom: {{ section.settings.padding_bottom | append: 'px'}};
}
{% endstyle %}
<div class="weargnj__collection pt-5">
  <div class="container-fluid" id="category_{{ section.id }}">
      <div class="row">
          <h3 class="best__seller__heading text-center heading mb-5">{{ section.settings.heading | default:'Our Collections' }}</h3>
      </div>
      <div class="row">
          {% for block in section.blocks %}
            {% if block.settings.image != blank %}
              {% assign img = block.settings.image | image_url %}
            {% else %}
              {% assign img = 'https://cdn.shopify.com/s/files/1/0659/9196/6896/files/image-default.png?v=1729585373' %}
            {% endif %}
            {% assign collection = block.settings.collection %}
          <div class="col-lg-4 co-md-6">
              <div class="single__collection" style="background-image: url('{{ img }}');">
                  <div class="single__collection__brief">
                      <h2 class="collection__title">{{ block.settings.title | default: 'Thong' }}</h2>
                      <form action="#">
                        <a href="{{ collection.url | default:'#' }}" class="common__btn fill__btn">Shop Brief</a>                        
                      </form>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Category Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Our Collections"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 10
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 10
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Thong"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Category Section",
        "blocks": [
          {
            "type": "category"
          },
          {
            "type": "category"
          },
          {
            "type": "category"
          }
        ]
      }
    ]
  }
{% endschema %}