{{ 'featured-collection-component.css' | asset_url | stylesheet_tag }}
{% style %}
#featured_collection_{{ section.id }}{
  padding-top: {{ section.settings.padding_top | append:'px'}};
  padding-bottom: {{ section.settings.padding_bottom | append:'px'}};
}
{% endstyle %}

{% assign products = section.settings.collection.products %}
<div class="weargnj__best__seller mt-60">
  <div class="container-fluid">
      <div class="row">
          <h3 class="best__seller__heading text-center">Our Best Sellers</h3>
      </div>
      <div class="row">
          <div class="best__seller__slider overflow-hidden">
              <div class="swiper-wrapper">
                {% for product in products %}
                  <div class="swiper-slide">
                      <div class="best__seller__item">
                          <div class="best__seller__thumb">
                              <a href="product-details.html">
                                  <img src="{{ product.featured_image | img_url:'medium' }}" alt="{{ product.title }}" width="100%">
                              </a>
                              <div class="special__tags">
                                  <div class="best-seller">
                                      {% render 'icons', icon: 'verified-check', size: 16 %}
                                      <span>Best Seller</span>
                                  </div>
                                  <div class="bundle">
                                      <img src="assets/icons/gift.svg" alt="">
                                      <span>Bundle</span>
                                  </div>
                              </div>
                          </div>
                          <div class="best__seller__content">
                              <h6><a href="{{ product.url }}">{{ product.title | escape }}</a></h6>
                              
                              <div class="product__meta">
                                  <div class="size">
                                      {% render 'icons', icon: 'underpant', size: 18 %} 
                                      <span>Seamless Comfort</span>
                                  </div>
                                  <div class="fabric">
                                      {% render 'icons', icon: 'ruler', size: 18 %} 
                                      <span>Shaping Fit</span>
                                  </div>
                              </div>
                              <div class="product__price">
                                  <div class="price">
                                      <span class="current__price">{{ product.price | money }}</span>
                                      <span class="old__price">$150.00</span>
                                  </div>
                                  <form action="#">
                                      <button type="submit" class="cart__btn">Add To Cart</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              <div class="slider__control d-none d-md-flex">
                  <div class="weargnj__next slider__btn">
                      {% render 'icons', icon:'chevron-right' %}
                  </div>
                  <div class="weargnj__prev slider__btn">
                      {% render 'icons', icon:'chevron-left' %}
                  </div>
              </div>
              <div class="pt-50 d-block d-md-none">
                  <div class="swiper-pagination">
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>


{% schema %}
{
  "name": "Featured collection",
  "class": "featured_collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    }
  ]
}
{% endschema %}