<div class="footer-bottom" id="{{ section.id }}">
  <div class="d-flex justify-content-space-between align-items-center">
     {% for block in section.blocks %}
       {% case block.type %}
         {% when 'copyright' %}
        <div class="content">{{ block.settings.copyright_text }}</div>
         {% when 'payment' %}
        {% if block.settings.payment_method != blank %}
          {{ block.settings.payment_method | image_url: width: 300 | image_tag }}
        {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Footer Bottom",
    "enabled_on": {
      "groups": ["footer"]
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_dash",
        "label": "Enable Dash on top",
        "default": true
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 10
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 10
      }
    ],
    "blocks": [
      {
        "type": "copyright",
        "name": "Copyright",
        "settings":[
          {
            "type": "liquid",
            "id": "copyright_text",
            "label": "Copyright text",
            "default": "<p>&copy;{{ 'now' | date: '%Y' }} {{ shop.name }} All Rights reserved</p>"
          }
        ]
      },
      {
        "type": "payment",
        "name": "Payment",
        "settings": [
          {
            "type": "image_picker",
            "id": "payment_method",
            "label": "Payment Image"
          }
        ]
      }
    ]
  }
{% endschema %}