{% style %}
#footer_{{ section.id }}{
  padding-top: {{ section.settings.padding_top | append: 'px' }};
  padding-bottom: {{ section.settings.padding_bottom | append: 'px' }};  
  background-color: {{ section.settings.bg_color }};
}
.bg_container {
    border-radius: 8px 8px 0 0;
}
{% endstyle %}
<div class="footer-section">
  <div class="container-fluid bg_container"  id="footer_{{ section.id }}">
    <div class="container">
      <div class="row">
        {% for block in section.blocks %}
          {% case block.type %}
          {% when 'footer-menu' %}
          <div class="col-md-{{- block.settings.column -}}">
            <div class="heading">
              <h2>{{ block.settings.heading }}</h2>
            </div>
            <div class="content">
              <ul>
                {% for link in block.settings.menu.links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% when 'information' %}
          <div class="col-md-{{- block.settings.column -}}">
            <div class="heading">
              <h2>{{ block.settings.heading }}</h2>
            </div>
            <div class="rte">
              {{ block.settings.information }}
            </div>
          </div>
          {% when 'newsleter' %}
            <div class="col-md-{{- block.settings.column -}}">
              <div class="brand-logo">
                {%- if block.settings.logo != blank -%}
                <div class="header__heading-logo-wrapper">
                  {%- assign logo_alt = block.settings.logo.alt | default: shop.name | escape -%}
                  {%- assign logo_height = settings.logo_width | divided_by: block.settings.logo.aspect_ratio -%}
                  {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                  {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                  {{ block.settings.logo | image_url: width: 600 | image_tag:
                    class: 'header__heading-logo motion-reduce',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                  }}
                </div>
              {%- else -%}
                <span class="h2">{{ shop.name }}</span>
              {%- endif -%}
              </div>
              <div class="rte my-3">
                {{ block.settings.text }}
              </div>
              {% if block.settings.enable_newsleter %}
              <div class="footer-newsletter">
                <form action="#">
                  <div class="input-group mb-2 mr-sm-2">                      
                      <input type="email" class="form-control" id="email" placeholder="Email">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <button class="common__btn fill__btn" type="button">→</button>
                        </div>
                      </div>                      
                    </div>
                  <label>
                    <input type="checkbox" name="checkbox" class="check-box" checked>      
                    <span>I accept the terms of the newsletter</span>
                  </label>
                </form>
              </div>
              {% endif %}
            </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Footer",
    "enabled_on": {
      "groups": ["footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 50
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "footer-menu",
        "name": "Footer Menu",
        "settings": [
          {
            "type": "number",
            "id": "column",
            "label": "Column size",
            "default": 4,
            "info": "Total column length 12"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu"
          }
        ]
      },
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "number",
            "id": "column",
            "label": "Column size",
            "default": 4,
            "info": "Total column length 12"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "html",
            "id": "information",
            "label": "Text"
          }
        ]
      },
      {
        "type": "newsleter",
        "name": "Newsleter",
        "settings": [
          {
            "type": "number",
            "id": "column",
            "label": "Column size",
            "default": 4,
            "info": "Total column length 12"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Brand logo"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Join thousands who love our products. 98% would buy again!</p>"
          },
          {
            "type": "checkbox",
            "id": "enable_newsleter",
            "label": "Enable Newsleter",
            "default": true
          }
        ]
      }
    ]
  }
{% endschema %}