{{ 'header-component.css' | asset_url | stylesheet_tag }}
{% assign links = section.settings.menu.links %}
{% assign button_index = section.settings.button_index %}
{% assign custom_txt = section.settings.custom_txt %}

<div class="container-fluid">
  <div class="weargnj__menu__wrapper">
      <div class="row align-items-center">
          <div class="col-lg-6 col-md-5 col-5">
            <a class="btn btn-primar d-lg-none" href="#offcanvasExample">
              {% render 'icons', icon: 'hamburger' %}
            </a>
              <div class="menu__block d-none d-lg-block">                
                  <div class="weargnj__main__menu">
                      <nav>
                          <ul class="list-unstyled d-flex">
                            {% for link in links %}
                              <li class="{% if forloop.index == button_index and button_index != blank %} special__text{% endif %}"{% if link.links.size > 1 %} dropdown{% endif %}>
                                <a href="{{ link.url }}" class="{% if link.links.size > 1 %} dropdown-toggle{% endif %}" href="{{ link.url }}" {% if link.links.size > 1 %} id="navbarDropdown_{{ forloop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false"{% endif %}>
                                  {{ link.title }} {% if forloop.index == button_index and button_index != blank %}<span>{{ custom_txt }}</span>{% endif %}
                                </a>
                                {% if link.links.size > 1 %}
                                <ul class="dropdown-menu d-none" aria-labelledby="navbarDropdown_{{ forloop.index }}">
                                  {% for child in link.links %}
                                  <li><a class="dropdown-item" href="{{ child.url }}">{{ child.title }}</a></li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
          <div class="col-lg-1 col-md-2 col-2">
              <div class="logo__block">
                  <a href="{{ routes.root_url }}">
                      {%- if settings.logo != blank -%}
                      <div class="header__heading-logo-wrapper">
                        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                        {{ settings.logo | image_url: width: 600 | image_tag:
                          class: 'header__heading-logo motion-reduce',
                          widths: widths,
                          height: logo_height,
                          width: settings.logo_width,
                          alt: logo_alt,
                          sizes: sizes,
                          preload: true
                        }}
                      </div>
                    {%- else -%}
                      <span class="h2">{{ shop.name }}</span>
                    {%- endif -%}
                  </a>
              </div>
          </div>
          <div class="col-lg-5 col-md-5 col-5">
              <div class="search__block">
                  <form action="#" method="post" class="search__form">
                      <div class="input-box">
                          <input type="text" placeholder="Search here...">
                          <span class="search">{% render 'icons', icon: 'search', size:20 %}</span>
                      </div>
                  </form>
                  <div class="user__profile d-lg-block d-none">
                      <button>
                        <span>{% render 'icons', icon: 'user', size:20 %}</span>
                      </button>
                  </div>
                  <div class="cart__bag">
                      <button>
                          <span class="cart__count">2</span>
                          <span>{% render 'icons', icon: 'shopping-bag', size:20 %}</span>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Mobile menu -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Endof mobile menu -->
</div>
{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "number",
      "id": "button_index",
      "label": "Custom Button position",
      "info": "Insert the number you want to show custom button in the Navigation",
      "default": 2
    },
    {
      "type": "text",
      "id": "custom_txt",
      "label": "Custom Button text",
      "default": "4 for 15% off"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    }
  ]
}
{% endschema %}