
{% style %}
   #banner_{{ section.id }} .weargnj__banner{
    background-image: url('{{ section.settings.banner | img_url:'original' }}');
  }
{% endstyle %}
<div id="#banner_{{ section.id }}">
  <div class="weargnj__banner banner__height">  
    <div class="container-fluid">
        <div class="row">
            <div class="banner__content">
              {% for block in section.blocks %}
              {% case block.type %}
              {% when 'heading' %}
                <h1 class="banner__heading__txt">
                    {{ block.settings.title }}
                </h1>
              {% when 'rte' %}
                <p class="banner__description">
                  {{ block.settings.rte }}
                </p>
                {% when 'button' %}
                <div class="button__group">
                  {% if block.settings.btn1_url %}
                  <a href="{{ block.settings.btn1_url }}" class="common__btn fill__btn">{{ block.settings.btn1_label }}</a>
                  {% endif %}
                  {% if block.settings.btn2_url %}
                  <a href="{{ block.settings.btn2_url }}" class="common__btn">{{ block.settings.btn2_label }}</a>
                  {% endif %}
                </div>
              {% endcase %}
              {% endfor %}
            </div>
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner",
  "class": "main-banner-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner image"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "html",
          "id": "title",
          "label": "Heading",
          "default": "Purposefully Crafted <span>Designed for you</span>"
        }
      ]
    },
    {
      "type": "rte",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "rte",
          "label": "Heading",
          "default": "<p>From humble beginnings to a global movement, GNJ was born out of a passion for empowering individuals through comfort and confidence. Every piece tells a story, and you are part of it.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "btn1_label",
          "label": "Button label",
          "default": "Shop the collection"
        },
        {
          "type": "text",
          "id": "btn1_url",
          "label": "Button Link",
          "default": "shopify://collection/all"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "btn2_label",
          "label": "Button label",
          "default": "Build a Bundle"
        },
        {
          "type": "text",
          "id": "btn2_url",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Banner",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "title": "Purposefully Crafted <span>Designed for you</span>"
          }
        },
        {
          "type": "rte",
          "settings": {
            "rte": "<p>From humble beginnings to a global movement, GNJ was born out of a passion for empowering individuals through comfort and confidence. Every piece tells a story, and you are part of it.</p>"
          }
        },
        {
          "type": "button",
          "settings": {
            "btn1_label": "Shop the Collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}