{% style %}
  #banner_{{ section.id }}{
    padding-top: {{ section.settings.padding_top | append: 'px'}};
    padding-bottom: {{ section.settings.padding_bottom | append: 'px'}};
  }
  {
    background-image: url('{{ section.settings.banner | img_url:'original' }}');
    height: 500px;
    background-repeat: no-repeat;
    min-height: 400px;
  }
{% endstyle %}
<div class="banner-section" id="banner_{{ section.id }}">
  <div class="container-fluid">
    <div class="main-banner">
      <h1>Banner</h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner",
  "class": "main-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner image"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "html",
          "id": "title",
          "label": "Heading",
          "default": "Purposefully Crafted <span>Designed for you</span>"
        }
      ]
    },
    {
      "type": "rte",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "rte",
          "label": "Heading",
          "default": "<p>From humble beginnings to a global movement, GNJ was born out of a passion for empowering individuals through comfort and confidence. Every piece tells a story, and you are part of it.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "btn1_label",
          "label": "Button label",
          "default": "Shop the collection"
        },
        {
          "type": "text",
          "id": "btn1_url",
          "label": "Button Link",
          "default": "shopify://collection/all"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "btn2_label",
          "label": "Button label",
          "default": "Build a Bundle"
        },
        {
          "type": "text",
          "id": "btn2_url",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Banner",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "title": "Purposefully Crafted <span>Designed for you</span>"
          }
        },
        {
          "type": "rte",
          "settings": {
            "rte": "<p>From humble beginnings to a global movement, GNJ was born out of a passion for empowering individuals through comfort and confidence. Every piece tells a story, and you are part of it.</p>"
          }
        },
        {
          "type": "button",
          "settings": {
            "btn1_label": "Shop the Collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}