{% style %}
  #banner_{{ section.id }}{
    padding-top: {{ section.settings.padding_top | append: 'px'}};
    padding-bottom: {{ section.settings.padding_bottom | append: 'px'}};
  }
   #banner_{{ section.id }} .main-banner{
    position: relative;
    background-image: url('{{ section.settings.banner | img_url:'original' }}');
    height: 500px;
    background-repeat: no-repeat;
    min-height: 400px;
    background-position: center;
    background-size: cover;
  }
  .main-banner::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity */
      z-index: 1;
    }
  #banner_{{ section.id }} .banner__content {
      position: relative;
      z-index: 2;
      padding: 165px 45px 55px 45px;
  }
  #banner_{{ section.id }} .banner__content *{
    color: #FFFFFF;
  }
  .banner__content .heading h1{
    font-size: 80px;
    font-weight: 800;
  }
  .banner__content .heading h1 > span {
      font-weight: 500;
  }
  .common__btn{
    padding: 12px 24px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
  }
{% endstyle %}
<div class="banner-section" id="banner_{{ section.id }}">
  <div class="container-fluid">
    <div class="main-banner">
      <div class="container">
        <div class="row align-items-center">
          <div class="banner__content">
            {% for block in section.blocks %}
            {% case block.type %}
              {% when 'heading' %}
              <div class="heading">
                <h1>{{ block.settings.title }}</h1>
              </div>
              {% when 'rte' %}
              <div class="rte">
                {{ block.settings.rte }}
              </div>
              {% when 'button' %}
              <div class="buttons">
                <div class="d-flex">
                  {% if block.settings.btn1_url %}
                  <a href="{{ block.settings.btn1_url }}" class="common__btn fill__btn">{{ block.settings.btn1_label }}</a>
                  {% endif %}
                  {% if block.settings.btn2_url %}
                  <a href="{{ block.settings.btn2_url }}" class="btn btn-primary">{{ block.settings.btn2_label }}</a>
                  {% endif %}
                </div>
              </div>
            {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner",
  "class": "main-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner image"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "html",
          "id": "title",
          "label": "Heading",
          "default": "Purposefully Crafted <span>Designed for you</span>"
        }
      ]
    },
    {
      "type": "rte",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "rte",
          "label": "Heading",
          "default": "<p>From humble beginnings to a global movement, GNJ was born out of a passion for empowering individuals through comfort and confidence. Every piece tells a story, and you are part of it.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "btn1_label",
          "label": "Button label",
          "default": "Shop the collection"
        },
        {
          "type": "text",
          "id": "btn1_url",
          "label": "Button Link",
          "default": "shopify://collection/all"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "btn2_label",
          "label": "Button label",
          "default": "Build a Bundle"
        },
        {
          "type": "text",
          "id": "btn2_url",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Banner",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "title": "Purposefully Crafted <span>Designed for you</span>"
          }
        },
        {
          "type": "rte",
          "settings": {
            "rte": "<p>From humble beginnings to a global movement, GNJ was born out of a passion for empowering individuals through comfort and confidence. Every piece tells a story, and you are part of it.</p>"
          }
        },
        {
          "type": "button",
          "settings": {
            "btn1_label": "Shop the Collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}