<div class="weargnj__instagram mx-2 mt-80">
   <div class="container-fluid">
       <div class="row">
           <div class="section-title">
               <h3>{{ section.settings.heading }}</h3>
               <a href="{{ section.settings.insta_url }}">{{ section.settings.username }}</a>
           </div>
       </div>
       <!-- instagram -->
       <div class="instagram__slider overflow-hidden">
           <div class="swiper-wrapper">

            <!-- single instagram -->
             {% for block in section.blocks %}
               <div class="swiper-slide">
                   <div class="instagram__item">
                       <div class="instagram__item__thumb">
                           <img class="insta__shape" src="https://cdn.shopify.com/s/files/1/0659/9196/6896/files/pngwing_2.png?v=1729691073" alt="Insta-shape">
                           <a href="#" class="insta__thumb">
                               <img src="{{ block.settings.image | img_url:'medium' }}" alt="{{ block.settings.user_name }}">
                           </a>
                       </div>
                       <div class="insta__user__name">
                           <a href="{{ section.settings.user_url }}">
                               <img src="{{ section.settings.user_img | img_url:"small" }}" alt="{{ block.settings.user_name }}">
                               {{ block.settings.user_name }}
                           </a>
                       </div>
                   </div>
               </div>
              {% endfor %}
           </div>
       </div>
       <div class="d-flex justify-content-center">
           <a href="{{ section.settings.insta_btn_url }}" class="common__btn fill__btn black__btn mt-45">
               {{ section.settings.insta_btn }}
            </a>
       </div>
   </div>
</div>

{% schema %}
  {
    "name": "Instagram Story",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Aspiring super-natural unite!"
      },
      {
        "type": "text",
        "id": "username",
        "label": "Username",
        "default": "@weargnj"
      },
      {
        "type": "url",
        "id": "insta_url",
        "label": "Profile Link"
      },
      {
        "type": "header",
        "content": "Instagram Link"
      },
      {
        "type": "text",
        "id": "insta_btn",
        "label": "Instagram Button Label",
        "default": "Follow Us on Instagram"
      },
      {
        "type": "url",
        "id": "insta_btn_url",
        "label": "Profile Link"
      }
    ],
    "blocks": [
      {
        "type": "story",
        "name": "Story",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Customer Instagram Image"
          },
          {
            "type": "image_picker",
            "id": "user_img",
            "label": "Customer Image"
          },
          {
            "type": "text",
            "id": "user_name",
            "label": "Customer username",
            "default": "@doctor-staci"
          },
          {
            "type": "url",
            "id": "user_url",
            "label": "Customer profile link",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram Story"
      }
    ]
  }
{% endschema %}