<div class="weargnj__limited mt-80">
  <div class="container-fluid">
      <div class="row">
          <div class="weargnj__limited__product">
              <div class="section__title">
                  <h3>{{ section.settings.heading }}</h3>
                  {% if section.settings.description != blank %}
                    {{ section.settings.description }}
                  {% endif %}
              </div>
              <div class="limited__time__product">
                 {% for block in section.blocks %}
                  {% assign product = block.settings.product %}
                  <div class="best__seller__item">                   
                      <div class="best__seller__thumb">
                          <div class="item__left">
                              <div class="quantity">
                                  <img src="assets/icons/warning.svg" alt="">
                                  <span>Only 5 left in stock!</span>

                              </div>
                          </div>
                          <a href="{{ product.url }}">
                              <img src="{{ product.featured_image | img_url:'large' }}" alt="{{ product.title }}">
                          </a>

                          <div class="special__tags">
                              <div class="best-seller limited">
                                  <img src="assets/icons/crown.svg" alt="">
                                  <span>Limited Edition</span>
                              </div>
                          </div>
                      </div>
                      <div class="best__seller__content">
                          <h6><a href="{{ product.url }}">{{ product.title }}</a></h6>
                          
                          <div class="product__meta">
                              <div class="size">
                                  <img src="assets/icons/comfort.svg" alt="">
                                  <span>Seamless Comfort</span>
                              </div>
                              <div class="fabric">
                                  <img src="assets/icons/fit.svg" alt="">
                                  <span>Shaping Fit</span>
                              </div>
                          </div>
                          <div class="product__price">
                              <div class="price">
                                  <span class="current__price">{{ product.price | money }}</span>
                              </div>
                              <form action="#">
                                  <button type="submit" class="cart__btn">Add To Cart</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

              </div>
          </div>
      </div>
  </div>
</div>
{% schema %}
  {
    "name": "Limited Edition",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Limited Edition"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Crafted by experts for an elevated experience, only a limited number of pieces available.</p>"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Select Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Limited Edition",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}