{{ 'quality-component.css' | asset_url | stylesheet_tag }}
{% style %}
  #quality_{{ section.id }}{
    padding-top: {{ section.settings.padding_top | append: 'px'}};
    padding-bottom: {{ section.settings.padding_bottom | append: 'px'}};
  }
{% endstyle %}

<div class="weargnj__feature" id="quality_{{ section.id }}">
    <div class="container-fluid">
        <div class="row">
            <div class="feature__wrapper">
              {% for block in section.blocks %}
                {% assign size = block.settings.size | default: 24 %}
                <div class="feature__bloc">
                    {% render 'icons', icon: block.settings.icon, size: size %}  
                    <span>{{ block.settings.text }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>
  @media only screen and (max-width: 768px) {
    .weargnj__feature {
        padding: 20px 0px;
    }
    .feature__wrapper {
        display: flex; /* Ensure items are aligned horizontally */
        overflow-x: auto; /* Enable horizontal scrolling */
        scroll-behavior: smooth; /* Optional: for smooth scrolling */
        white-space: nowrap; /* Prevent wrapping of the items */
        width: 100%; /* Ensure it takes the full width of the mobile screen */
    }
    .weargnj__feature .feature__wrapper{
      flex-wrap:nowrap;
    }
    .feature__bloc {
        display: inline-block; /* Keep items inline for horizontal scrolling */
        min-width: auto; /* Adjust the width as per design needs */
        padding: 10px; /* Optional: to give some space between items */
    }

    .feature__wrapper::-webkit-scrollbar {
        display: none; /* Hide scrollbar for better UI experience */
    }
}
</style>
{% schema %}
  {
    "name": "Quality Section",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 20
      }
    ],
    "blocks": [
      {
        "type": "quality",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "90-Day Quality Guarantee - Love it or it’s on us"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Select Icon",
            "options": [
              {
                "label": "Package check",
                "value": "package-check"
              },
              {
                "label": "Underpant",
                "value": "underpant"
              },
              {
                "label": "Eco-power",
                "value": "eco-power"
              },
              {
                "label": "Sun",
                "value": "sun"
              },
              {
                "label": "Ruler",
                "value": "ruler"
              }
            ],
            "default": "package-check"
          },
          {
            "type": "range",
            "id": "icon_size",
            "label": "Icon Size",
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 24
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Quality",
        "settings": {
          "padding_top": 20,
          "padding_bottom": 20,
        },
        "blocks": [
          {
            "type": "quality",
            "settings": {
              "text": "90-Day Quality Guarantee - Love it or it’s on us",
              "icon": "package-check",
              "icon_size": 24
            }
          },
          {
            "type": "quality",
            "settings": {
              "text": "True to size fit guarantee",
              "icon": "underpants",
              "icon_size": 24
            }
          },
          {
            "type": "quality",
            "settings": {
              "text": "Premium sustainable fabric",
              "icon": "eco-power",
              "icon_size": 24
            }
          }
        ]
      }
    ]
  }
{% endschema %}