<div class="weargnj__about mx-2 mt-80">
  <div class="container-fluid">
      <div class="row">
          <div class="about__content">
            <a href="{{ routes.root_url }}"><img src="{{ section.settings.image | img_url:'small' }}" alt="{{ shop.name }}"></a>
            <p class="about__text">
               {{ section.settings.description }}
            </p>
            <button class="common__btn fill__btn black__btn">
                {{ section.settings.btn_label }}
            </button>
        </div>
      </div>
  </div>
    <!-- about us end -->
</div>
{% schema %}
  {
    "name": "About us",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image/Logo"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Founded by an Emerati woman, our designs combine Middle Eastern elegance with effortless silhouettes. Months of development goes into each of our highly considered pieces and we only create the kind of intimates women really want to find in their top drawer."
      },
      {
        "type": "text",
        "id": "btn_label",
        "label": "Button label",
        "default": "More about Us"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Simple About Us"
      }
    ]
  }
{% endschema %}